<h1><%= Follow.human_attribute_name(:follower) %></h1>

<h2><%= User.model_name.human %>: <%= @user.name %></h2>

<%= render 'users', users: @followers %>

<%= link_to t('views.common.back'), @user %>
